@import url("../App.css");

.MainFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.5rem;
    color: var(--bg-color);
    font-weight: 700;
    background-color: var(--primary-color);
    bottom: 0;
    width: 100%;
    height: 50px;
    position: relative;
    font-size: smaller;

}

.social {
    width: fit-content;
    margin-right: 1.2rem;
}

.social img {
    padding-right: 1rem;
}
/* @media (min-width: 360px) {
    .MainFooter {
      ;
    }
  }
  
  @media (min-width: 600px) {
    .MainFooter {
      ;
    }
  }
  
  @media (min-width: 1200px) {
    .MainFooter {
      ;
    }
  } */