@import url("../App.css");

.LoginForm {
    width: 100vw;
}

.title {
    color: var(--primary-color);
}
.error {
    color:red;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:100%;
    margin-top: 4rem;
    overflow-x: hidden;
}

.login-form{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    min-width:300px;
   
}

.login-form input {
    border:0;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    margin-block: 0.5rem;
    padding-block: 0.5rem;
    padding-left: 0.5rem;
}


.login-form label {
    margin-top: 1rem;
    font-size: small;
}

.login-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
