@import url("../App.css");

.MainHeader {
    display: flex;
    flex-direction: row;
     width: 100vw;
    justify-content: space-between;
    align-items: flex-end;
    padding-inline: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--bg-color);
}

.slogan {
    color: #545776;
    font-weight: 300;
    font-style: italic;
    padding-left: 0.5rem;
    font-size: small;
    position: relative;
    bottom: -30px;
}
.MainHeader div {
    display: flex;
    flex-direction: row;
    height: 3rem;
}
.MainHeader button {
    height: fit-content;
    margin-left: 0.5rem;
    margin-right: 6rem;
    border: 2px solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
    padding-inline: 2.5rem;
    padding-block: 0.4rem;
    border-radius: 5px;
    background-color: var(--bg-color);
}
/* @media (min-width: 360px) {
    .MainHeader {
      ;
    }
    .slogan{
    }
  }
  
  @media (min-width: 600px) {
    .MainHeader {
      ;
    }
    .slogan{

    }
  }
  
  @media (min-width: 1200px) {
    .MainHeader {
      ;
    }
    .slogan{

    }
  } */