@import url("../App.css");

.MainHeader {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-items: flex-end;
    padding-inline: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--bg-color);
}

.slogan {
    color: #545776;
    font-weight: 300;
    font-style: italic;
    padding-left: 0.5rem;
    font-size: small;
}
.MainHeader div {
    display: flex;
    flex-direction: row;
    height: 3rem;
}
.MainHeader button {
    height: fit-content;
    margin-left: 0.5rem;
    margin-right: 5rem;
    border: 2px solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
    padding-inline: 2rem;
    padding-block: 0.4rem;
    border-radius: 5px;
    background-color: var(--bg-color);

}