@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root {
  --main-font: 'Roboto';
  --primary-color:#1DBEB4;
  --bg-color:#FFFFFF;
  --secondary-bg: #C4C4C4;
  --secondary-color:#545776;
}

* {
  font-family: var(--main-font);

}


.App {
  text-align: center;
  width: 100vw;
  overflow-x:hidden;
}

.app-container {
  width: 100%;
  margin:0;
  padding: 0;
}

.submit {
  margin-top: 2.5rem;
  border: 0;
  background-color: var(--primary-color);
  height: fit-content;
  width: fit-content;
  color: var(--bg-color);
  border-color: var(--primary-color);
  padding-inline: 4rem;
  padding-block: 0.4rem;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
}




